body {
    background-color: rgba(51,51,51,0.05);
}

//.container {
//    display: flex;
//    flex-direction: row;
//}

.explorer {
    min-width: 30%;
}

.explorer--container {
    height: 800px;
    border: 1px solid #101010;
}

.explorer--view {
    width: 100%;
    height:800px;
    background-color: white;
}

.article {
    margin: 10px;
    padding: 10px;
}
